<nav class="navbar navbar-light bg-primary shadow">
  <div class="container ">
    <div class="navbar-brand">
      <img src="assets/images/logo.png" class="mr-3" height="30" alt="logo">
      <strong class="text-white">Encuesta de Satisfacción</strong>
    </div>
  </div>
</nav>

<div class="background-wrap">
  <div class="cloud cloud-1">
    <img src="assets/images/cloud.svg" alt="Cloud">
  </div>
  <div class="cloud cloud-2">
    <img src="assets/images/cloud.svg" alt="Cloud">
  </div>
  <div class="cloud cloud-3">
    <img src="assets/images/cloud.svg" alt="Cloud">
  </div>
  <div class="cloud cloud-4">
    <img src="assets/images/cloud.svg" alt="Cloud">
  </div>
</div>

<div class="container my-5">
  <router-outlet></router-outlet>
</div>
