<div class="card shadow">
  <div class="card-header bg-primary text-center position-relative">
    <h2 class="card-statement text-alt text-white text-uppercase mb-0">{{ question.statement }}</h2>
    <button class="btn bg-white btn-circle btn-xl btn-speak text-primary shadow"
            style="border: 2px solid white"><i class="fas fa-volume-up"></i></button>
  </div>
  <div class="card-body text-center py-5">

    <form [formGroup]="form" class="mt-3 mb-4">
      <div class="group">
        <input formControlName="text" type="text" placeholder="Tu respuesta">
        <span class="bar"></span>
      </div>
    </form>
    <div class="mb-5">
      <!--Grabar-->
      <button class="btn btn-block btn-success shadow" *ngIf="!isRecording && !blobUrl" (click)="startRecording()"><i
        class="fas fa-microphone mr-2"></i> Grabar
      </button>
      <!--Detener-->
      <button class="btn btn-block btn-danger shadow" *ngIf="isRecording && !blobUrl" (click)="stopRecording()"
              title="Terminar grabacion">
        <span><i class="fas fa-circle recording"></i> {{recordedTime}}</span>
      </button>
      <!--Eliminar-->
      <div class="d-flex justify-content-center align-items-center" *ngIf="!isRecording && blobUrl">
        <audio class="mr-2 shadow" style="border-radius: 50px;" controls>
          <source [src]="blobUrl" type="audio/webm">
        </audio>
        <button class="btn btn-lg btn-secondary btn-circle shadow" (click)="clearRecordedData()">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </div>

    <div>
      <button class="btn btn-lg btn-primary btn-next text-alt text-white shadow" [class.disabled]="form.invalid"
              (click)="sendAnswer()">
        Siguiente
        <i class="fas fa-chevron-right ml-2"></i>
      </button>
    </div>
  </div>
</div>

