@import "scss/varibales";
@import "~bootstrap/scss/bootstrap";
@import "scss/btn-circle";

.text-alt {
  font-family: $font-family-secondary;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

// Sweet Alert 2 Confirm button
.swal2-confirm {
  background: $primary !important;
}
