// Fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark:400,700&display=swap');

// Bootstrap override
$primary: #ff8f00;
//$secondary: #0168AF;
$font-family-base: 'Quicksand', sans-serif;
$font-family-secondary: 'Palanquin Dark', sans-serif;

//Custom variables
$sky: #84DFF4;
